
Body {
    font-family: Helvetica;
    text-align: center;
    color: #FFF;
    background-color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

h1{
    font-size: 48px;
}

h2{

    font-size: 24px;
}


img{
    border: 5px solid #ff0000;
}

