
Body {
    font-family: Helvetica;
    text-align: center;
    color: #FFF;
    background-color: #33c59f;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

h1{
   
    font-size: 48px;
}

h2{

    font-align: justify;
    font-style: italic;
   font-family: Comic San MS;
    font-size: 26px;
}


img{
    border: 2px solid #000000;
}

